<li><a href="{% url 'index' %}">Home</a></li>

{% block content %}
  <h1>Smart Parcel Live Data</h1>
  <p>Welcome to your Smart Parcel Dashboard, developed by <em>NodeSpider</em>!</p>
  <h2>Current Data</h2>
  <li><strong>Temperature:</strong> {{temperature_latest}}</li>
  <li><strong>Humidity:</strong> {{humidity_latest}}</li>
  <li><strong>Last motion detected:</strong> {{motion_latest}}</li>
  <p>The Smart Parcel server database has the following:</p>
  <ul>
    <li><strong>Temperature Records:</strong> {{ num_temperature }}</li>
    <li><strong>Humidity Records:</strong> {{ num_humidity }}</li>
    <li><strong>Motions Detected:</strong> {{ num_motion }}</li>
  </ul>
{% endblock %}