<li><a href="{% url 'index' %}">Home</a></li>

{% block content %}
  <h1>Smart Parcel Live Data</h1>
  <p>Welcome to your Smart Parcel Dashboard, developed by <em>NodeSpider</em>!</p>
  <h2>Dynamic content</h2>
  <p>The Smart Parcel is currently tracking the following:</p>
  <ul>
    <li><strong>Temperature Records:</strong> {{ num_temperature }}</li>
    <li><strong>Humidity Records:</strong> {{ num_humidity }}</li>
    <li><strong>Motions Detected:</strong> {{ num_motion }}</li>
  </ul>
  <p><b>Temperature List =</b> {{ temperature_objs }}</p>
  <p><b>Humidity List</b> = {{ humidity_objs }}</p>
  <p><b>Motion List</b> = {{ motion_objs }}</p>
{% endblock %}